body {
    margin: 0;
}
.logo {
    font-family: 'Dosis', sans-serif;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}
.logo h1 {
    padding: 5px;
    border-bottom: 3px solid black;
    transition: 0.3s;
}
.logo h1:hover {
    transform: scale(1.1);
}
.main1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: 1rem 0rem 1rem 0rem;
}
@media all and (min-width: 1281px){ 
    .main1 {transform: scale(0.9);}
    }

@media all and (max-width: 720px) {
    .main1 {transform: scale(0.9);}
}
.materii {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.materie {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    transition: 1s;
    border: 2px solid black;
    margin: 0.8rem;
    transition: 0.3s;
    border-radius: 4px;
}
.materie img {
    width: 112px;
    height: 112px;
    transition: 0.3s;
}
.materie a {
    text-decoration: none;
    color: black;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    transition: 0.3s;
}
.materie:hover {
    transform: scale(1.1);
    /*filter: invert(1);*/
    box-shadow: 4px 4px 0px 0px black;
}

@media all and (min-width: 1281px){ 
    .materii {flex-direction: row;}
    }

@media all and (max-width: 720px) {
    .materii {flex-direction: column;}
}
footer {
    background-color: black;
    font-family: 'Dosis', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    flex-direction: column;
    height: 15rem;
    width: auto;
}
.info_puternic {
    font-family: 'Dosis', sans-serif;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}
.info_puternic a{
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
    color: black;
    font-weight: bolder;
    transition: 0.3s;
    border-radius: 3px;
}
.info_puternic a:hover{
    transform: scale(1.1);
    color: black;
    box-shadow: 4px 4px 0px 0px black;
}

/*Pagina de INFORMTICA */

ul, #myUL {
    list-style-type: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 0.5rem;
    
}
li {
    margin: 0.5rem;
}
li a{
    text-decoration: none;
    color: rgb(14, 0, 120);
}
#myUL {
    margin: 2rem;
    padding: 0;
}
.caret {
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.caret-down::before {
    transform: rotate(90deg);
}
.nested {
    display: none;
    transition: 0.3s;
}
.active {
    display: block;
    transition: 1s;
}
.info2 {
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
.info2 h1 {
    font-weight: bolder;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.info2 h2 {
    font-weight: bolder;
    font-size: 1.5rem;
}
ul li img {
    width: 20px;
    height: 20px;
    margin: 3px 2px 0px 2px;
    justify-content: center;
    align-items: center;
}

code {
    font-size: 1rem;
    background-color: grey;

}
article {
    font-family: 'Dosis', sans-serif;
    margin: 2rem;
    text-align: justify;
}
article h2{
    font-size: 1.7rem;
    font-weight: bold;
}
article p {
    font-weight: bold;
    font-size: 1.3rem;
}
.paragraf {
    margin-bottom: 0.8rem;
}
.publicatii {
    margin-bottom: 1.5rem;
}
.publicatii a{
    color: black;
    font-weight: bolder;
    padding: 0.4rem 0.7rem;
    border: 1px solid black;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
    border-radius: 4px;
}
.publicatii a:hover {
    color: black;
    background-color: white;
    transform: scale(1.1);
    box-shadow: 3px 3px 0px 0px black;
}
article hr {
    border-top: 1px solid black;
}
.links_social_media a img{
    transition: 0.3s;
}
.links_social_media a img:hover {
    transform: scale(1.1);
}
.formule-matematice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;
}
.formule-matematice h2{
    margin: 0.2rem;
}
.formule-matematice img{
    transform: scale(0.7);
}
.date-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;   
}
.date-contact h1, h2{
    padding: 0;
    margin: 0;  
}
.date-contact p{
    font-size: 1.5rem;
}
.date-contact a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    transition: 1s;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: 0.3s;
}
.date-contact a:hover {
    color: black;
    transform: scale(1.1);
    border-radius: 4px;
    box-shadow: 4px 4px 0px 0px black;
}